
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
/* 
.services {
  background-image: url('/images/img-2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */


/* code for formatting the separate classes defined in 'Cards' and 'Heading' */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
} 

body {
  background: #fef5ec;
  font-family: "Montserrat";
}

.App {
  margin-top: 30px;
}

.App h1 {
  font-size: 35px;
  margin-bottom: 18px;
  text-align: center;
  color: #23188c;
}
.App h6 {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: center;
  color: #23188c;
}

/* for the positioning of the 5 card components  */
.all_cards {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 30%;
}


.card {
  overflow: hidden;
  box-shadow: 0 2px 10px;
  background: #ffe8c2;
  margin: 15px;
  margin-bottom: 50px;
  width: 350px;
  padding: 5px;
  line-height: 20px;
  position: relative;
}

/* adding hover effect to all the cards */
.wrapper:hover {
  transform: scale(1.02);
}

/* to fit image in the card component  */
.img {
  max-width: 100%;
  height: auto;
}

.card_title {
  color: #23188c;
  font-size: 24px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.card_description {
  font-size: 18px;
  color: rgba(35, 24, 140, 0.8);
}

.card_button {
  margin-top: 1rem;
  background-color: #281b9d;
  width: 172px;
  height: 52px;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  font-family: "Montserrat";
  cursor: pointer;
  margin-bottom: 1rem;
  border: 0rem;
  transition: 200ms ease-in, color 200ms ease-in;
}

/* adds a shadow to the button element when hovering  */
.card_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
