body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Heading {
  font-size: 2rem;
  font-weight: 600;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Putting the text in Center*/


.Box{
  padding-top: 30px;
}

.Contribution {
  background-color: #FAAC38;
  padding-bottom: 60px;
  padding-top: 60px;
}

.Contribution-header {
  font-size: 1.5rem;
  font-weight: 350;
  width: 90%;
  margin-top: 1rem;
  padding-left: 70px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.row {
  display: flex;
}

.col-2 { 
  align-self: center;
  
}


.OrangeLine {
  padding-bottom: 20px;
}

.Contribute{
  background-color: #F89607;
  border-radius: 4%;
  border-color: 1px #FFFFFF;
  height: 40px;
  width: 180px;
}

.Footerings{
  padding-top: 50px;
}

