.Column1{
    margin-right: 0px;
    position: relative;
}

/* .Column2{
    margin-right: 0px;
    position: relative;
    margin-left: 100px;
}

.Column3{
    margin-left: 500px;
    position: absolute;
} */