:root {
    --primary: rgb(255, 255, 255) !important;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px ; 
    cursor: pointer;
    background-color: #FAAC38;
    color: #fff;
    border: 2px solid #4CAF50;
    

  }
 
  
 