@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.villageOverviewContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F0F2F9;
}
.sidebarRightSide{
    width: 90%;
}
.sidebarRightSideTop{
    width: 90%;
    margin: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboardTitle h2{
    font-family: "Roboto", sans-serif;
}