.navbar {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) !important;
    height: 60px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    font-size: 1rem !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 999 !important;
  }
  
  .navbar-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    height: 60px !important;
    max-width: 1500px !important;

  }
  
  .navbar-logo {
    color: #F89607 !important;
    justify-self: start !important;
    margin-left: 20px !important;
    cursor: pointer !important;
    text-decoration: none !important;
    font-size: 2rem !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;  
  }

  .navbar-logo2{
    color: #7D4BDF !important;
    display: flex !important;
    flex-direction: row !important;
  }

  .navbar-logoicon{
    color: #f4d5a7 !important;
    display: flex !important;
    flex-direction: row !important;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem !important;
    font-size: 1.8rem !important;
  }
  
  .nav-menu {
    display: grid !important;
    grid-template-columns: repeat(4, auto) !important;
    grid-gap: 10px !important;
    list-style: none !important;
    text-align: center !important;
    width: 60vw !important;
    justify-content: end !important;
    margin-right: 2rem !important;
  }
  
  .nav-item {
    height: 80px !important;
  }
  
  .nav-links {
    color: #7D4BDF !important;
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
    padding: 0.5rem 1rem !important;
    height: 100% !important;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff !important;
    transition: all 0.2s ease-out !important;
  }
  
  .fa-bars {
    color: rgb(255, 255, 255) !important;
  }

  
  .nav-links-mobile {
    display: none !important;
  }
  
  .menu-icon {
    display: none !important;
    
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative !important;
    }
  
    .nav-menu {
      display: flex !important;
      flex-direction: column !important;
      width: 100% !important;
      height: 90vh !important;
      position: absolute !important;
      top: 80px !important;
      left: -100% !important;
      opacity: 1 !important;
      transition: all 0.5s ease !important;
    }
  
    .nav-menu.active {
      background: #F89607 !important;
      left: 0 !important;
      opacity: 1 !important;
      transition: all 0.5s ease !important;
      z-index: 1 !important;
    }
  
    .nav-links {
      text-align: center !important;
      padding: 2rem !important;
      width: 100% !important;
      display: table !important;
    }
  
    .nav-links:hover {
      background-color: #fff !important;
      color: #7D4BDF !important;
      border-radius: 0 !important;
    }
  
    .navbar-logo {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      transform: translate(25%, 50%) !important;
    }
  
    .menu-icon {
      display: block !important;
      position: absolute !important;
      top: 0 !important;
      right: 0 !important;
      transform: translate(-100%, 60%) !important;
      font-size: 1.8rem !important;
      cursor: pointer !important;
  
      
    }

    .fa-bars{
      color:#7D4BDF !important;
    }

  
    .fa-times {
      color:#7D4BDF !important;
      font-size: 2rem !important;
    }
  
    .nav-links-mobile {
      display: block !important;
      text-align: center !important;
      margin: 2rem auto !important;
      border-radius: 4px !important;
      width: 80% !important;
      text-decoration: none !important;
      font-size: 1.5rem !important;
      background-color: transparent !important;
      color: #fff !important;
      padding: 14px 20px !important;
      border: 1px solid rgb(255, 255, 255) !important;
      transition: all 0.3s ease-out !important;
    }
  
    .nav-links-mobile:hover {
      background: #ffffff !important;
      color: #7D4BDF !important;
      transition: 250ms !important;
    }
  }