.c1{
    font-size: 22px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

@media screen and (max-width: 600px) {
    .c1 {
      font-size: 120% !important;
    }
}

.d1{
    align-items: center !important;
}

.dc1{
    font-size: 17px !important;
    margin-bottom: 20px !important;
}

.cont1{
    color: white !important;
    font-size: 23px !important;
    /* padding-bottom: 30px !important; */
    text-decoration: none !important;
}

.pcont1{
    margin-bottom: 10px !important;
}
