.dropd{
    background-color: white !important;
    transition: 0.5s !important;
    
}

.dropdiv{
    background-color: white !important;
    padding: 10px !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}
.dropdp{
    font-size: 15px !important;
    color: #23188c !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-weight: 500 !important;
}
.dropdiv:hover{
    border: 3px solid #23188c !important;
    transition: all 0.1s ease-out !important;
}