@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


.vform{
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    padding-left: 1% !important;
    padding-right: 1% !important;
}


.form-control{
    padding: 10px !important;
    border-radius: 4px !important;
    border: 1px solid rgb(190, 190, 190) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: 0 !important;
    position: relative;
    left: 10px;
}

.form-select{
    padding: 10px !important;
    border-radius: 4px !important;
    border: 1px solid rgb(190, 190, 190) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    position: relative;
    left: 10px;
}

.mb-3{
    align-items: right;
}

.btns{
    radius: 40 !important;
    margin-bottom: 10px !important;
    font-family: "Poppins", sans-serif !important;
}

.submitt-btn{
    padding: 10px 20px 10px 20px !important;
    font-size: 17px;
}

.invi{
    color: antiquewhite !important;
}

.invidiv{
    display: flex !important;
     justify-content: space-between !important;
}

.h2title{
    margin-top: 10px !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 22px !important;
    margin-bottom: 10px !important;
}

@media (max-width: 480px) {
    .narrow {
      display: block;
    }
  }

  @media (max-width: 460px) {
    .mb-3 {
        font-size: 14px !important;
    }
    .gov_schemes{
        width: 30% !important;
    }
    .gov_schemes_inp{
        width: 80% !important;
    }
  }

  .id_type{
    width: 182px !important;
  }

