video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  .hero-top{
    background-color: #fff;
    height: 15%;
    width: 100%;
    position: absolute;
    padding: 0% 2% 0% 2%;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .herologo-1 {
    height: 80%;
  }

  .herologo-2{
    height: 80%;
  }

  .herologo-3{
    height: 80%; 
  }

/* upper part background image container */
  .hero-container {
    background: url('/public/images/img-2.png') center center/cover no-repeat;
    height: 750px;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    position: relative;
  }
  

  .hero-container > h1 {
    color: #fff;
    font-size:60px;
    margin-top: -100px;
    position: relative; 
    top: 70px;
    font-family: 'Kaisei Opti', serif;
    
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 20px;
    font-size: 3vmin;
    position: relative; 
    top: 70px;
    width: 80%;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  .hero-btns {
    margin-top: 32px;
    position: relative; 
    top: 80px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }

  .hero-gallery{
    width:85%;
    background-color:#fff;
    height: 50%;
    position: absolute;
    top:670px;
    z-index: 1000;
  }

  .hero-bottom{
    width:100%;
    height: 62%;
    background-color:#23188C;
    position: absolute;
    top:710px;
    z-index: 999;
  }

  .hero-bottom-txt{
    color: #fff;
    position: relative;
    top: 370px;
    text-align: center;

  }

  .form-btn{
    position: relative;
    top: 375px;
    text-align: center;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
  @media screen and (max-width: 768px){
      .hero-top > img{
        height: 45%;
      }
      
     } 

    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btns {
      width: 100%;
    }
  }
